@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.navigation-carrer__title::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-left:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-github:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-link:before {
  content: "\e904";
}

._icon-linkedin:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #232E35;
  background-color: #FFFFFF;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  min-height: 100%;
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title__label {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.625em;
  color: #656D72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.title__label::before {
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #D9D9D9;
}

.title__label:not(:last-child) {
  margin-bottom: 0.5625em;
}

.title__value {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 1.25;
}

.title__value span {
  color: #7E74F1;
}

.title__value_big {
  line-height: 1.25;
}

.text {
  line-height: 2;
}

.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.3125rem;
}

.social__link {
  font-size: 1.375rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #656D72;
}

.category-link {
  display: inline-block;
  border: 0.0625rem solid #F1F1F1;
  border-radius: 0.25rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #656D72;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.date {
  background: #FBFBFB;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #656D72;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  min-height: 7.6875rem;
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__button {
  padding: 0.9375rem 1.5rem;
  background-color: transparent;
  border: 0.0625rem solid #F1F1F1;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0s ease 0.3s;
  -o-transition: color 0s ease 0.3s;
  transition: color 0s ease 0.3s;
}

.header__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #7E74F1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50% 50% 0 0;
}

.header__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.menu__item {
  text-align: center;
}

.menu__link {
  line-height: 1.1875;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:first-child {
  font-weight: 500;
}

.icon-menu {
  display: none;
}

.bottom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background: #FFFFFF;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.footer__copy {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
}

.name-section__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.decor-name-section {
  max-width: 21rem;
  margin: 0 1.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.decor-name-section__box {
  position: relative;
  padding-bottom: 119.0476190476%;
}

.decor-name-section__box::before,
.decor-name-section__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.decor-name-section__box::before {
  z-index: 1;
  background-color: #7E74F1;
  -webkit-transform: rotate(-9.55deg);
      -ms-transform: rotate(-9.55deg);
          transform: rotate(-9.55deg);
}

.decor-name-section__box::after {
  z-index: 2;
  background: #EAE6FE url("../img/photo hero/lines.svg") top right/58% no-repeat;
}

.decor-name-section__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.decor-name-section__hero {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.services {
  background-color: #f9f9f9;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875rem;
  padding-top: 6.875rem;
}

.services__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}

.item-service {
  background-color: #fff;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.item-service__icon {
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  background-color: #F5F3FE;
  border-radius: 1rem;
}

.item-service__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25;
}

.item-service__title:not(:last-child) {
  margin-bottom: 1rem;
}

.item-service__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.item-service__text:not(:last-child) {
  margin-bottom: 1rem;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.875rem;
  padding-top: 5rem;
}

.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.portfolio__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.portfolio__arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #EAE6FE;
  border-radius: 1rem;
  color: #7E74F1;
  font-size: 0.75rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.portfolio__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.item-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  border: 0.0625rem solid #F5F5F5;
  border-radius: 0.5rem;
  overflow: hidden;
}

.item-portfolio__image-ibg {
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  padding-bottom: 81.7174515235%;
}

.item-portfolio__image-ibg img {
  -o-object-position: top;
     object-position: top;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-portfolio__body {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-portfolio__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-height: 100%;
}

.item-portfolio__link-title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25;
}

.item-portfolio__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.item-portfolio__link {
  font-size: 0.59375rem;
  color: #656D72;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.career {
  background-color: #FBFBFB;
}

.career__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875rem;
  padding-top: 5rem;
}

.career__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.career__navigation {
  display: -ms-grid;
  display: grid;
  gap: 0.5625rem;
}

._tab-spoller .career__navigation {
  display: none;
}

.navigation-carrer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left;
  padding: 0.875rem 1.5rem;
  font-weight: 500;
  line-height: 1.1875;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navigation-carrer__title:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.navigation-carrer__title::after {
  content: "\e901";
  font-size: 0.75rem;
  display: none;
}

._tab-spoller .navigation-carrer__title {
  border: 0.0625rem solid rgba(101, 109, 114, 0.2);
}

._tab-spoller .navigation-carrer__title::after {
  display: block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation-carrer__title._tab-active {
  background: #FFFFFF;
  border-radius: 0.25rem;
  color: #7E74F1;
}

.navigation-carrer__title._tab-active::after {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._tab-spoller .navigation-carrer__title._tab-active::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

._tab-spoller .content-career__body {
  padding: 0.9375rem 0rem 0.9375rem 0rem;
}

.content-career__header {
  border-bottom: 0.0625rem solid #F1F1F1;
}

.content-career__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2777777778;
}

.content-career__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content-career__link-title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2777777778;
  -webkit-text-decoration: 0.125rem underline #7E74F1;
          text-decoration: 0.125rem underline #7E74F1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-career__location {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2142857143;
  color: #656D72;
}

.content-career__location:not(:last-child) {
  margin-bottom: 1rem;
}

.content-career__job-time {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #656D72;
}

.content-career__job-time:not(:last-child) {
  margin-bottom: 1rem;
}

.content-career__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.list-content-career__item {
  line-height: 1.1875;
  color: #656D72;
  padding-left: 1.75rem;
  position: relative;
}

.list-content-career__item:before {
  content: "";
  position: absolute;
  background: #D9D9D9;
  width: 0.625rem;
  height: 0.125rem;
  top: 0.5em;
  left: 0;
}

.list-content-career__item:not(:last-child) {
  margin-bottom: 1rem;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875rem;
  padding-top: 7.5rem;
}

.blog__items {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}

.item-blog {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 0.0625rem solid #F1F1F1;
}

.item-blog .item-blog__image-ibg {
  overflow: hidden;
  padding-bottom: 67.3130193906%;
}

.item-blog .item-blog__image-ibg img {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-blog__body {
  padding: 1rem 1rem 1.5rem 1rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.item-blog__link-title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-blog__text {
  line-height: 2;
  color: #656D72;
}

.item-blog__link {
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.testimonials {
  background: #FBFBFB;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.875rem;
  padding-top: 7.5rem;
}

.testimonials__items {
  display: -ms-grid;
  display: grid;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}

.item-testimonials {
  background: #FFFFFF;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.5rem;
}

.item-testimonials__avatar-ibg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -3rem;
}

.item-testimonials__avatar-ibg:not(:last-child) {
  margin-bottom: 2rem;
}

.item-testimonials__text {
  line-height: 1.75;
}

.item-testimonials__name {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}

.item-testimonials__name:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.item-testimonials__profession {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.875rem;
  padding-top: 7.5rem;
}

.skills__body {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.timeline {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0.15625em;
  left: 0.75rem;
  width: 0.0625rem;
  height: 100%;
  background-color: #F1F1F1;
}

.timeline__item {
  position: relative;
  padding-left: 2.5rem;
}

.timeline__item:before {
  content: "";
  position: absolute;
  top: 0.15625em;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #F1F1F1;
  z-index: 3;
}

.timeline__item:last-child:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.75rem;
  width: 0.0625rem;
  height: 100%;
  z-index: 2;
  background-color: #fff;
}

.timeline__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25;
}

.timeline__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.timeline__text {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #656D72;
}

.timeline__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.timeline__date {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.content-skills__text {
  line-height: 2;
  color: #656D72;
}

.content-skills__items {
  display: -ms-grid;
  display: grid;
}

.content-skills__label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.content-skills__label:not(:last-child) {
  margin-bottom: 1rem;
}

.content-skills__line {
  background: #F5F3FE;
  border-radius: 0.125rem;
  height: 0.5rem;
  position: relative;
}

.content-skills__line span {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.125rem;
  background-color: #7E74F1;
}

.contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #FBFBFB;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.875rem;
  padding-top: 9.375rem;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contacts__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.form__input {
  width: 100%;
  height: 3rem;
  background: #FFFFFF;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.form__input::-webkit-input-placeholder {
  color: #656D72;
}

.form__input::-moz-placeholder {
  color: #656D72;
}

.form__input:-ms-input-placeholder {
  color: #656D72;
}

.form__input::-ms-input-placeholder {
  color: #656D72;
}

.form__input::placeholder {
  color: #656D72;
}

.form__input::focus::-webkit-input-placeholder {
  color: #232E35;
}

.form__input::focus::-moz-placeholder {
  color: #232E35;
}

.form__input::focus:-ms-input-placeholder {
  color: #232E35;
}

.form__input::focus::-ms-input-placeholder {
  color: #232E35;
}

.form__input::focus::placeholder {
  color: #232E35;
}

.form__button {
  background-color: #7E74F1;
  color: #fff;
  border: 0.0625rem solid #EAE6FE;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.form__error {
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  color: red;
}

.form ._form-focus {
  border-radius: 0.5rem;
  outline: none;
  -webkit-box-shadow: 0 0 0.1875rem #7E74F1;
          box-shadow: 0 0 0.1875rem #7E74F1;
}

textarea.form__input {
  width: 100%;
  height: 11.8125rem;
  resize: vertical;
}

.input__item:last-child {
  padding-top: 1.375rem;
}

.list-contacts {
  display: -ms-grid;
  display: grid;
}

.list-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.list-contacts__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.5rem;
          flex: 0 0 3.5rem;
  height: 3.5rem;
  background-color: #F5F3FE;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes scale_icon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale_icon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.list-contacts__title {
  font-weight: 500;
  line-height: 1.1875;
}

.list-contacts__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.list-contacts__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #656D72;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }

  .decor-name-section {
    -ms-grid-column-align: end;
        justify-self: end;
    width: 100%;
  }

  .career__body {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .career__content {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .navigation-carrer__title._tab-active {
    -webkit-transform: translateX(5%);
        -ms-transform: translateX(5%);
            transform: translateX(5%);
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 76.875em) {
  .career__content {
    padding-top: 2rem;
  }
}

@media (min-width: 52.5em) {
  .skills__body {
    -ms-grid-columns: 1fr 54.8333333333%;
    grid-template-columns: 1fr 54.8333333333%;
  }
}

@media (min-width: 76.875em) {
  .title__value {
    font-size: 2.25rem;
  }

  .title__value_big {
    font-size: 2.75rem;
  }

  .social {
    -webkit-column-gap: 2.125rem;
       -moz-column-gap: 2.125rem;
            column-gap: 2.125rem;
  }

  .footer__container {
    padding-top: 5.5rem;
  }

  .footer__container {
    padding-bottom: 8.0625rem;
  }

  .name-section__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .name-section__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 6.5rem;
  }

  .services__items {
    gap: 3.5rem;
  }

  .item-service {
    padding: 3.3125rem;
  }

  .portfolio__header {
    margin-top: 2.5rem;
  }

  .portfolio__header {
    margin-bottom: 7.5rem;
  }

  .career__body {
    -webkit-column-gap: 9rem;
       -moz-column-gap: 9rem;
            column-gap: 9rem;
  }

  .career__body {
    row-gap: 5rem;
  }

  .content-career__header {
    padding-bottom: 2rem;
  }

  .content-career__main {
    padding-top: 2rem;
  }

  .blog__title {
    padding-bottom: 9rem;
  }

  .blog__items {
    gap: 2.5rem;
  }

  .testimonials__title {
    margin-bottom: 8.25rem;
  }

  .testimonials__items {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .item-testimonials {
    padding-left: 2.375rem;
  }

  .item-testimonials {
    padding-right: 2.375rem;
  }

  .item-testimonials__text:not(:last-child) {
    margin-bottom: 3rem;
  }

  .skills__title {
    margin-bottom: 7rem;
  }

  .content-skills__text:not(:last-child) {
    margin-bottom: 3.9375rem;
  }

  .content-skills__items {
    gap: 2.5rem;
  }

  .contacts__body {
    padding-left: 6.25rem;
  }

  .list-contacts {
    gap: 3rem;
  }
}

@media (max-width: 20em) {
  .title__value {
    font-size: 1.75rem;
  }

  .title__value_big {
    font-size: 2.25rem;
  }

  .social {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }

  .name-section__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .name-section__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .services__items {
    gap: 1.25rem;
  }

  .item-service {
    padding: 0.9375rem;
  }

  .portfolio__header {
    margin-top: 1.875rem;
  }

  .portfolio__header {
    margin-bottom: 1.875rem;
  }

  .career__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .career__body {
    row-gap: 1.25rem;
  }

  .content-career__header {
    padding-bottom: 1.25rem;
  }

  .content-career__main {
    padding-top: 1.25rem;
  }

  .blog__title {
    padding-bottom: 1.875rem;
  }

  .blog__items {
    gap: 1.25rem;
  }

  .testimonials__title {
    margin-bottom: 5rem;
  }

  .testimonials__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .item-testimonials {
    padding-left: 0.625rem;
  }

  .item-testimonials {
    padding-right: 0.625rem;
  }

  .item-testimonials__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .skills__title {
    margin-bottom: 1.875rem;
  }

  .content-skills__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-skills__items {
    gap: 1.25rem;
  }

  .contacts__body {
    padding-left: 1.25rem;
  }

  .list-contacts {
    gap: 1.25rem;
  }
}

@media (max-width: 76.875em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 53.125em) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
  }

  .contacts__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    padding-left: 0;
  }

  .contacts__list {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__container {
    min-height: 3.75rem;
  }

  .header__button {
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid #232E35;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #7E74F1;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 3.75rem;
    background-color: #d3cffc;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .menu__link {
    color: #FFFFFF;
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .name-section__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }

  .decor-name-section {
    max-width: none;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .decor-name-section {
    width: 15.375rem;
  }
}

@media (max-width: 40.625em) {
  .portfolio__slider {
    margin-right: -0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 37.5em) {
  .portfolio__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .portfolio__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1.75rem , 1.5741758242rem  +  0.8791208791vw , 2.25rem )) {
    .title__value {
      font-size: clamp( 1.75rem , 1.5741758242rem  +  0.8791208791vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5741758242rem  +  0.8791208791vw , 2.25rem )) {
    .title__value {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem )) {
    .title__value_big {
      font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 2.0741758242rem  +  0.8791208791vw , 2.75rem )) {
    .title__value_big {
      font-size: calc(2.25rem + 0.5 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem )) or (column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem ))) {
    .social {
      -webkit-column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem );
         -moz-column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem );
              column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem )) or (column-gap: clamp( 0.9375rem , 0.5199175824rem  +  2.0879120879vw , 2.125rem ))) {
    .social {
      -webkit-column-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.2445054945rem  +  7.4725274725vw , 5.5rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 4.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.1456043956rem  +  11.978021978vw , 8.0625rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , -1.1456043956rem  +  11.978021978vw , 8.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.1456043956rem  +  11.978021978vw , 8.0625rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 6.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .name-section__title:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.6483516484rem  +  1.7582417582vw , 2rem )) {
    .name-section__title:not(:last-child) {
      margin-bottom: calc(1rem + 1 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .name-section__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .name-section__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2486263736rem  +  8.1318681319vw , 6.5rem )) {
    .services__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.2486263736rem  +  8.1318681319vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2486263736rem  +  8.1318681319vw , 6.5rem )) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 4.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .services__items {
      gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.4587912088rem  +  3.956043956vw , 3.5rem )) {
    .services__items {
      gap: calc(1.25rem + 2.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding: clamp( 0.9375rem , 0.1023351648rem  +  4.1758241758vw , 3.3125rem )) {
    .item-service {
      padding: clamp( 0.9375rem , 0.1023351648rem  +  4.1758241758vw , 3.3125rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.1023351648rem  +  4.1758241758vw , 3.3125rem )) {
    .item-service {
      padding: calc(0.9375rem + 2.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
    .portfolio__header {
      margin-top: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.6552197802rem  +  1.0989010989vw , 2.5rem )) {
    .portfolio__header {
      margin-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.103021978rem  +  9.8901098901vw , 7.5rem )) {
    .portfolio__header {
      margin-bottom: clamp( 1.875rem , -0.103021978rem  +  9.8901098901vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.103021978rem  +  9.8901098901vw , 7.5rem )) {
    .portfolio__header {
      margin-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem )) or (column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem ))) {
    .career__body {
      -webkit-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem );
         -moz-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem );
              column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem )) or (column-gap: clamp( 1.25rem , -1.4752747253rem  +  13.6263736264vw , 9rem ))) {
    .career__body {
      -webkit-column-gap: calc(1.25rem + 7.75 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.25rem + 7.75 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.25rem + 7.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (row-gap: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem )) {
    .career__body {
      row-gap: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , -0.0686813187rem  +  6.5934065934vw , 5rem )) {
    .career__body {
      row-gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__header {
      padding-bottom: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__header {
      padding-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__main {
      padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .content-career__main {
      padding-top: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .blog__title {
      padding-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.6304945055rem  +  12.5274725275vw , 9rem )) {
    .blog__title {
      padding-bottom: calc(1.875rem + 7.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .blog__items {
      gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .blog__items {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 5rem , 3.8571428571rem  +  5.7142857143vw , 8.25rem )) {
    .testimonials__title {
      margin-bottom: clamp( 5rem , 3.8571428571rem  +  5.7142857143vw , 8.25rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 3.8571428571rem  +  5.7142857143vw , 8.25rem )) {
    .testimonials__title {
      margin-bottom: calc(5rem + 3.25 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem ))) {
    .testimonials__items {
      -webkit-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem ))) {
    .testimonials__items {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-left: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-left: calc(0.625rem + 1.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-right: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.0096153846rem  +  3.0769230769vw , 2.375rem )) {
    .item-testimonials {
      padding-right: calc(0.625rem + 1.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .item-testimonials__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .item-testimonials__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem )) {
    .skills__title {
      margin-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.0728021978rem  +  9.010989011vw , 7rem )) {
    .skills__title {
      margin-bottom: calc(1.875rem + 5.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3049450549rem  +  4.7252747253vw , 3.9375rem )) {
    .content-skills__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3049450549rem  +  4.7252747253vw , 3.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3049450549rem  +  4.7252747253vw , 3.9375rem )) {
    .content-skills__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.6875 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .content-skills__items {
      gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .content-skills__items {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-left: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .contacts__body {
      padding-left: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem )) {
    .contacts__body {
      padding-left: calc(1.25rem + 5 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .list-contacts {
      gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
    .list-contacts {
      gap: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
         -moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
              column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem )) or (column-gap: clamp( 1.5625rem , -1.8819444444rem  +  7.1759259259vw , 3.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
         -moz-column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
              column-gap: calc(1.5625rem + 1.9375 * (100vw - 48rem) / 27);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 76.875em) {
  .decor-name-section {
    width: 21rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem )) {
    .decor-name-section {
      width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem );
    }
}

@supports not (width: clamp( 15.375rem , 13.396978022rem  +  9.8901098901vw , 21rem )) {
    .decor-name-section {
      width: calc(15.375rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .career__content {
      padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
    .career__content {
      padding-top: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .career__content {
    padding-top: 1.25rem;
  }
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .social__link:hover {
    color: #7E74F1;
  }

  .category-link:hover {
    border: 0.0625rem solid #7E74F1;
    color: #7E74F1;
  }

  .header__button:hover {
    color: #fff;
  }

  .header__button:hover::before {
    height: 180%;
  }

  .menu__link {
    position: relative;
  }

  .menu__link:before {
    content: "";
    position: absolute;
    bottom: -0.3125rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: #7E74F1;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }

  .menu__link:hover::before {
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    color: #7E74F1;
  }

  .menu__link:hover {
    color: #232E35;
  }

  .portfolio__arrow:hover {
    background-color: #cdc4fc;
  }

  .item-portfolio__image-ibg:hover {
    opacity: 1;
  }

  .item-portfolio__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-portfolio__link-title {
    position: relative;
  }

  .item-portfolio__link-title:before {
    content: "";
    position: absolute;
    bottom: -0.3125rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: #7E74F1;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }

  .item-portfolio__link-title:hover::before {
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    color: #7E74F1;
  }

  .item-portfolio__link-title:hover {
    color: #232E35;
  }

  .item-portfolio__link:hover {
    color: #7E74F1;
  }

  .content-career__link-title:hover {
    text-decoration: none;
  }

  .item-blog .item-blog__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-blog__link-title:hover {
    color: #7E74F1;
  }

  .item-blog__link:hover {
    color: #7E74F1;
  }

  .form__button:hover {
    background-color: #6259c9;
  }

  .list-contacts__icon img:hover {
    -webkit-animation: scale_icon 1s infinite;
            animation: scale_icon 1s infinite;
  }

  .list-contacts__text:hover {
    color: #7E74F1;
  }
}

@media (any-hover: none) {
  .item-portfolio__image-ibg {
    opacity: 1;
  }
}